html, body, div, section, a, p, h1, h2, h3, h4, img, ul, li{
    margin: 0;
    padding: 0;
}

form{
    margin-block-end:0px ;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.clear::after, .clear::before{
    content: "";
    clear: both;
    /* display: table; */
}

.box{
    margin: 0 auto;
    max-width: 1060px;
}

.block {
    display: block;
}

.ativo{
    opacity: 1 !important;
}


@media(min-width: 1201px) {
    header .box {
        max-width: 95% !important;
    }
}

header{
    position: fixed;
    width: 100%;
    z-index: 92;
}

header a i{
    color: #fff;
    font-size: 30px;
    margin: 0 10px;
    float: right;
	transition: 0.3s;
}

header a i:hover{
    color: #519dbd;
	transition: 0.3s;
}

header.ativo{
    color: #000;
}

header .box {
    max-width: 1200px;
    padding: 0px 10px;
}

.row-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.barra{
    position: fixed;
    width: 100%;
    transition: 0.3s;
    background-color: rgba(15,15,15,.9);
    height: 108px;
    z-index: 90;
    opacity: 0;
}

.barra.ativo{
    background-color: rgba(15,15,15,.9);
}

.opcoes.ativo i{
    color: #7d7d7d;
}

header img{
    opacity: 1;
}

.html-home header img {
    opacity: 0;
}

header.ativo img{
    opacity: 1;
}

header.ativo .blue-bg{
    opacity: 1;
}


.hamburguer-bt {
    cursor: pointer;
    height: 20px;
    width: 20px;
    transition: all .2s ease-out;
    float: right;
    border: 2px solid #fff;
    padding: 2px 4px;
    margin-left: 10px 
}

.opcoes.ativo .hamburguer-bt{
    border: 2px solid #7d7d7d;
}
  
.hamburguer-bt .hamburguer-bt__stripe {
    width: 100%;
    height: 3px;
    background: white;
    margin: 3px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.opcoes.ativo .hamburguer-bt .hamburguer-bt__stripe{
    background: #7d7d7d;
}
  

.hamburguer-bt.on .hamburguer-bt__stripe__top {
    transform: rotate(45deg) translate(4px, 4px);
}

.hamburguer-bt.on .hamburguer-bt__stripe__middle {
    opacity: 0;
}

.hamburguer-bt.on .hamburguer-bt__stripe__bottom {
    transform: rotate(-45deg) translate(4px, -4px);
}


.menu{
    background-color: #fff;
    position: fixed;
    right: -300;
    z-index: 90;
    padding-top: 100px;
    transition: 0.6s;
    height: 100%;
    min-width: 235px;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    font-family: 'Roboto Slab', serif;
    margin: 30px 20px 30px 40px;
    font-size: 30px;
    cursor: pointer;
    width: auto;
    display: table;
}

.menu a{
    color: #171e22;
    text-decoration: none;
}

.menu .chamada{
    font-family: 'Roboto Slab', serif;
    color: #fff;
    display: block;
    width: 165px;
    margin-left: 30px;
    margin-top: 100px; 
    padding: 10px 20px;
    text-decoration: none;
    background-color: #4FBDE6;
    font-size: 30px;
}

.menu.ativo{
    right: 0;
    transition: 0.6s;
}

.menu ul li:after{
    content: "";
    height: 8px;
    z-index: -1;
    width: 100%;
    position: relative;
    top: -12;
    display: block;
}

.menu ul li:hover:after{
    background-color: #23ade0;
}

@media (max-width: 960px){
    header img{
        margin-left: 40px;
    }

    header .hamburguer-bt{
        margin-right: 40px;
    }

    @media (max-width: 400px){
        header i::before {
            display: none;
        }
    }
}

html, body{
    width: 100%;
    height: 100%;
}

body {
    background-image: url("img/niteroi.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: cover;
}


#principal{
    height:100vh;
}

#principal .box {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}